BeautifulSoup==3.2.1
Coffin==0.3.6
Django==1.4
Fabric==1.4.3
Jinja2==2.6
South==0.7.5
foursquare==20120716
geojson==1.0.1
httplib2==0.7.7
poster==0.8.1
pycrypto==2.6
python-instagram==0.8.0
simplejson==2.5.2
ssh==1.7.14
wsgiref==0.1.2
