{% extends 'base.html' %}

{% block content %}
<h1>{{place.name}}</h1>

<p>
	Address: {{place.address}} - {{place.city.zipcode}} <a href="{% url city-view place.city.slug %}">{{place.city.name}}</a>
</p>
<p>
	Created by {{place.creator}} on {{place.created|date('d-m-Y H\hi')}}
</p>
<div>
	Completed {{place.get_completion_percent()}}%
	<div class="progress progress-striped active" style="width:200px;">
		<div class="bar" style="width: {{place.get_completion_percent()}}%;"></div>
	</div>
</div>

<h2>Map</h2>
{% include 'places/_view/map.html' %}

<h2>Subways</h2>
{% include 'places/_view/subways.html' %}

<h2>Badges</h2>
{% include 'places/_view/badges.html' %}

<h2>Links</h2>
{% include 'places/_view/links.html' %}

<h2>Hours</h2>
{% include 'places/_view/hours.html' %}

<h2>Products</h2>
{% include 'places/_view/products.html' %}

{% endblock %}